<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>freelanceProject</display-name>
  <welcome-file-list>
    <welcome-file>/VUE/index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FreelancerController</display-name>
    <servlet-name>FreelancerController</servlet-name>
    <servlet-class>controller.FreelancerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FreelancerController</servlet-name>
    <url-pattern>/FreelancerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterFreelancerServlet</display-name>
    <servlet-name>RegisterFreelancerServlet</servlet-name>
    <servlet-class>controller.RegisterFreelancerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterFreelancerServlet</servlet-name>
    <url-pattern>/RegisterFreelancerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterEntrepriseServlet</display-name>
    <servlet-name>RegisterEntrepriseServlet</servlet-name>
    <servlet-class>controller.RegisterEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterEntrepriseServlet</servlet-name>
    <url-pattern>/RegisterEntrepriseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>controller.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileFreelancerServlet</display-name>
    <servlet-name>ProfileFreelancerServlet</servlet-name>
    <servlet-class>controller.ProfileFreelancerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileFreelancerServlet</servlet-name>
    <url-pattern>/ProfileFreelancer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificationFreelancerServlet</display-name>
    <servlet-name>ModificationFreelancerServlet</servlet-name>
    <servlet-class>controller.ModificationFreelancerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationFreelancerServlet</servlet-name>
    <url-pattern>/ModificationFreelancerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFreelancer</display-name>
    <servlet-name>DeleteFreelancer</servlet-name>
    <servlet-class>controller.DeleteFreelancer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFreelancer</servlet-name>
    <url-pattern>/DeleteFreelancer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutFreelancerServlet</display-name>
    <servlet-name>LogoutFreelancerServlet</servlet-name>
    <servlet-class>controller.LogoutFreelancerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutFreelancerServlet</servlet-name>
    <url-pattern>/LogoutFreelancerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OffresServlet</display-name>
    <servlet-name>OffresServlet</servlet-name>
    <servlet-class>controller.OffresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OffresServlet</servlet-name>
    <url-pattern>/OffresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOffreServlet</display-name>
    <servlet-name>AddOffreServlet</servlet-name>
    <servlet-class>controller.AddOffreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOffreServlet</servlet-name>
    <url-pattern>/AddOffreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileEntrepriseServlet</display-name>
    <servlet-name>ProfileEntrepriseServlet</servlet-name>
    <servlet-class>controller.ProfileEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileEntrepriseServlet</servlet-name>
    <url-pattern>/ProfileEntrepriseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificationEntrepriseServlet</display-name>
    <servlet-name>ModificationEntrepriseServlet</servlet-name>
    <servlet-class>controller.ModificationEntrepriseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationEntrepriseServlet</servlet-name>
    <url-pattern>/ModificationEntrepriseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEntreprise</display-name>
    <servlet-name>DeleteEntreprise</servlet-name>
    <servlet-class>controller.DeleteEntreprise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEntreprise</servlet-name>
    <url-pattern>/DeleteEntreprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPostulant</display-name>
    <servlet-name>AddPostulant</servlet-name>
    <servlet-class>controller.AddPostulant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPostulant</servlet-name>
    <url-pattern>/AddPostulant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfileEntreprise</display-name>
    <servlet-name>GetProfileEntreprise</servlet-name>
    <servlet-class>controller.GetProfileEntreprise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfileEntreprise</servlet-name>
    <url-pattern>/GetProfileEntreprise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPostulants</display-name>
    <servlet-name>ViewPostulants</servlet-name>
    <servlet-class>controller.ViewPostulants</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPostulants</servlet-name>
    <url-pattern>/ViewPostulants</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProfileFreelancer</display-name>
    <servlet-name>GetProfileFreelancer</servlet-name>
    <servlet-class>controller.GetProfileFreelancer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProfileFreelancer</servlet-name>
    <url-pattern>/GetProfileFreelancer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseFreelancer</display-name>
    <servlet-name>ChooseFreelancer</servlet-name>
    <servlet-class>controller.ChooseFreelancer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseFreelancer</servlet-name>
    <url-pattern>/ChooseFreelancer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificationOffreServlet</display-name>
    <servlet-name>ModificationOffreServlet</servlet-name>
    <servlet-class>controller.ModificationOffreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificationOffreServlet</servlet-name>
    <url-pattern>/ModificationOffreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOffre</display-name>
    <servlet-name>DeleteOffre</servlet-name>
    <servlet-class>controller.DeleteOffre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOffre</servlet-name>
    <url-pattern>/DeleteOffre</url-pattern>
  </servlet-mapping>
</web-app>